- @weekdays.each do |day|
  .day{:class => "color-#{@weekdays.index(day) % 2}"}
    .day-label{:id => day}
      = day.strftime("%A")[0..2]
      = day.to_s.split('-')[1..2].join('/').remove(/\A0/).gsub(/\D(0)/, '/')
    - @appointments.each do |appointment|
      - if appointment.date == day
        - position = ((appointment.start_time.strftime("%k%M").to_i - 800)/100 * 76 +13)
        .appointment{:style => "margin-top:#{position}px"} 
          .time
            = (appointment.start_time.strftime("%l:%M %p -") + appointment.end_time.strftime("%l:%M %p")).remove(/:+0{2}/)
          .user
            = @user.first_name