.nav-bar
  = image_tag "small_logo_fish.png", class: "small_logo"
  .logout
    = link_to "Sign Out", session_path(@user), :method => :delete
  = button_to "Book the Fishbowl", new_appointment_path, class: "button primary", id: "book-fishbowl", method: :get
.week-scroll
  .js-prev-week
  .week-scroll-display
    = (@weekdays[0].strftime("%B %d ") + @weekdays[4].strftime("- %d")).gsub(/\D0/, " ")
  %span#year
    = @weekdays[4].strftime(" %Y")
  .js-next-week
.calendar
  .times
    %ul 
      %li
        %span
          8 AM
      %li
        %span
          9 AM
      %li
        %span
          10 AM
      %li
        %span
          11 AM
      %li
        %span
          12 PM
      %li
        %span
          1 PM
      %li
        %span
          2 PM
      %li
        %span
          3 PM
      %li
        %span
          4 PM
      %li
        %span
          5 PM
      %li
        %span
          6 PM
      %li
        %span
          7 PM
      %li
        %span
          8 PM
  .dates
    = render partial: "calendar"

  
